[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
passlib = {extras = ["bcrypt"], version = "*"}
python-jose = "*"
uvicorn = "*"
requests = "*"
sqlalchemy = "*"
alembic = "*"
psycopg2 = "*"
python-multipart = "*"
pydantic = {extras = ["email"], version = "*"}
python-dotenv = "*"
langchain = "*"
langchain-community = "*"
langchain-openai = "*"
langgraph = "*"
pymupdf = "*"
selenium = "*"
webdriver-manager = "*"
decouple = "*"
playwright = "*"
gitpython = "*"
psycopg = "*"
psycopg-binary = "*"
openai = "*"
reportlab = "*"
fpdf = "*"

[dev-packages]

[requires]
python_version = "3.10"
